<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>留言板</title>
    <link rel="stylesheet" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">
</head>
<body>
<div class="page-header">
    <h3 class="text-center">给我留言</h3>
</div>
<form id="testForm" class="form-horizontal" action="send">
    <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-6">
            <textarea class='form-control' name='text' onkeyup='textAreaChange(this)' onkeydown='textAreaChange(this)' rows='5'></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-6">
            <input type="button" class="btn btn-info" id="testConfirm" value="发送"></input>
        </div>
    </div>
</form>
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
</body>
</html>